body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color: pink;
}

h1 {
    color: purple;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border: 3px solid purple;
    border-radius: 25px;
}

.bug {
    border-radius: 15px;
}

h2 {
    color: purple;
}

.messages {
    width: 25%;
    border: 3px solid purple;
    border-radius: 25px;
    padding: 2%;
}